<a href="https://colab.research.google.com/github/KevinJP18/Aulas-de-progroma-o/blob/main/Cole%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = [ação/valor for in lista2 condição]

In [ ]:
notas = [8, 5, 3, 2, 10, 8]
menores = [nota for nota in notas if nota < 5]
print(menores)

In [ ]:
quadrados = [x**2 for x in range(10)]
print(quadrados)

In [ ]:
numeros = [1, 2, 3, 4, 5, 6]
pares = [n for n in numeros if n % 2 == 0]
print(pares)

In [ ]:
#Strings
nome = 'Kevin'
for letra in nome:
  print(letra)

print (len(nome)) # imprime o tamanho da String
print(nome.upper())#todos em maiusculos
print(nome.lower())#todos em minusculos

In [ ]:
nomes = ['joão', ' Ana','Epaminonadas', 'Godofredo', 'Lair', 'Setembrino']
maisDe5 = [nome for nome in nomes if len(nome) > 4]
print(maisDe5)

In [ ]:
#caixa alta os nomes com 4 letras ou menos
caixaAlta = [nome.upper() for nome in nomes if len(nome) < 5]
print(caixaAlta)

In [ ]:
dobro_impares = [n*2 for n in numeros if n % 2 != 0]
print(dobro_impares)

In [ ]:
# Atribuir 2 pontos as notas menores que 5
notas =[9.0,  4.5, 2.3, 6.0, 8.2, 5.3]
pontos = [nota + 2  for nota in notas if nota < 5]
print(pontos)

In [ ]:
# Função que soma dois valores
soma = lambda x, y: x + y
print(soma(3, 5))

In [ ]:
metade =  lambda a : a/2
print(metade(9))

In [ ]:

#list(map(funçao lambda, lista))

In [ ]:
#com map
numeros = [2,3,4,5,6,7,]
quadrados = list(map(lambda x: x**2, numeros))
print(quadrados)

In [ ]:
#dobro
dobro = list(map(lambda x: x*2, numeros))
print(dobro)

In [ ]:
palavras = [ 'e', 'hoje', 'my', 'ConsaGrated']
maiusculas = list(map(lambda x: x.upper(), palavras))
print(maiusculas)

In [ ]:
#print (len(nome)) # imprime o tamanho da String
#print(nome.upper())#todos em maiusculos
#print(nome.lower())#todos em minusculos

In [ ]:
numeros = [1, 2, 3, 4]
pares = list(filter(lambda x: x % 2 == 0, numeros))
print(pares)

In [ ]:
nomes = ['Cristiano', 'Alien', 'Ary', 'Bete', 'já']
mais4letras = list(filter(lambda x: len(x)> 4, nomes))
print(mais4letras)

In [ ]:
numeros = [10, 20, 8, 2, 25, 11, 9]
maiores10 = list(filter(lambda x: x > 10, numeros))
print(maiores10)

In [ ]:
#Pares
nums = [ 3, 7, 2, 8, 1, 4, 10]
pares = list(filter(lambda x: x % 2 == 0, nums))
print(pares)

In [3]:
#pares dobrados e impares sem mudança
nums = [ 3, 7, 2, 8, 1, 4, 10]
paresImpares = [n*2 if n % 2 == 0 else n for n in nums]
print(paresImpares)

[3, 7, 4, 16, 1, 8, 20]