<a href="https://colab.research.google.com/github/KevinJP18/Aulas-de-progroma-o/blob/main/Dicionario.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
aluno = {
    "nome": "Juca",
    "RA" : "123654789",
    "Data_Nascim" : "10/10/1999",
    "telefones" : [83145425454, 9955855884]
}
aluno

{'nome': 'Juca',
 'RA': '123654789',
 'Data_Nascim': '10/10/1999',
 'telefones': [83145425454, 9955855884]}

In [3]:
dicionario_vazio = {}
dicionario = {
    "nome" : "João",
    "idade" : 25
}
dicionario_misto = {1: "a", True: "b"} # chaves podem ser números/booleanos

Acessar valores

In [34]:
print(aluno["nome"])
print(aluno["telefones"])
print(aluno["telefones"][0])

Juca
[83145425454, 9955855884]
83145425454

In [11]:
livro = {
    "título": "The classroom of the Elite, V12",
    "autor" : "Syougo Kinugasa",
    "Ano de publicação" : "25/07/2024"
}
livro

{'título': 'The classroom of the Elite, V12',
 'autor': 'Syougo Kinugasa',
 'Ano de publicação': '25/07/2024'}

In [35]:
print(aluno["nome"]) # João
print(aluno.get("endereco"))
print(aluno.get("endereco", "Nao tem indereco otario"))

Juca
None
Nao tem indereco otario

In [36]:
#metodos get() (retorna none ou valor padrão se não existir evitando erros )
dados = {"nome": "Maria", "telefone": 2225588}
print(dados.get("nome"))
print(dados.get("telefone"))
print(dados.get("telefone", "não informado"))

Maria
2225588
2225588

In [16]:
livro = {
    "título": "The classroom of the Elite, V12",
    "autor" : "Syougo Kinugasa",
    "Ano de publicação" : "25/07/2024"
}
livro

print(livro.get("volume 01", "desconhecido"))

desconhecido

adicionar ou modificar

In [39]:
aluno["RA"] = "12345"
aluno["curso"] = "ADS"
print(aluno)
aluno.get("curso")

{'nome': 'Juca', 'RA': '12345', 'Data_Nascim': '10/10/1999', 'telefones': [83145425454, 9955855884], 'curso': 'ADS'}

'ADS'

In [21]:
livro["chave editora"] = "Seven Seas Entertainment"
livro["Ano de publicação"] = "25/07/2023"
print(livro)

{'título': 'The classroom of the Elite, V12', 'autor': 'Syougo Kinugasa', 'Ano de publicação': '25/07/2023', 'chave editora': 'Seven Seas Entertainment'}

remover itens

In [40]:
#del (remove pela chave, com erro se nao existir)

del aluno["curso"]
print(aluno)

{'nome': 'Juca', 'RA': '12345', 'Data_Nascim': '10/10/1999', 'telefones': [83145425454, 9955855884]}

In [38]:
#pop() remove e retorna o valor, pode definir padrao
aluno.pop("curso",0)
print(aluno)

{'nome': 'Juca', 'RA': '123654789', 'Data_Nascim': '10/10/1999', 'telefones': [83145425454, 9955855884]}

In [26]:
#popitem() remove e retorna o ultimo item adicionado
item = aluno.popitem()
print(item)

('telefones', [83145425454, 9955855884])

In [27]:
#clear() limpa todo o dicionario
aluno.clear()
print(aluno)

{}

In [44]:
livro.pop("autor",0)
print(livro)

{'título': 'The classroom of the Elite, V12', 'Ano de publicação': '25/07/2023', 'chave editora': 'Seven Seas Entertainment'}

verificar chaves e valores

In [ ]:
dados = {
    "nome": "Pedro",
    "idade": 35
}
#verifica se a chave existe
print("nome" in dados)
print("telefone" in dados)

#verifica se o valor existe
print("Pedro" in dados.values())

itera dic.

In [ ]:
for chave in dados.values():
                  #keys()
  print(chave)

In [52]:
for chave, valor in dados.items():
  print(f"{chave}: {valor}")

nome: Pedro
idade: 35

In [53]:
linguagens= [
    {"nome": "java", "Ano": "1995"},
    {"nome": "c++", "Ano": "1983"},
    {"nome": "Javascript", "Ano": "1995"}
]
linguagens

[{'nome': 'java', 'Ano': '1995'},
 {'nome': 'c++', 'Ano': '1983'},
 {'nome': 'Javascript', 'Ano': '1995'}]

In [54]:
linguagens.append({"nome": "Python", "Ano": "1991"})
print(linguagens)

[{'nome': 'java', 'Ano': '1995'}, {'nome': 'c++', 'Ano': '1983'}, {'nome': 'Javascript', 'Ano': '1995'}, {'nome': 'Python', 'Ano': '1991'}]

In [56]:
#acessar dados
print("nome da primeira linguagem:", linguagens[0]["nome"])
print("o ano do seu lançamento foi:",linguagens[0]["Ano"])

nome da primeira linguagem: java
o ano do seu lançamento foi: 1995