<a href="https://colab.research.google.com/github/KevinJP18/Aulas-de-progroma-o/blob/main/fun%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Funções em Python

In [3]:
 def  saudacao():
  print('Olá, estou dentro da função')

def somar():
  print(5 + 8)
#saudacao()
somar()

13

In [ ]:
def somar(a, b ):
  return a + b

a = somar(5, 6)
print(a)

In [ ]:
def quadrado(a):
  print =  int(input("digite um numero: "))
  return print**2

quadrado(a)

In [ ]:
def exibir_horario_aulas(disciplina, horario=9):
  print(f'{disciplina} - {horario} horas.')

exibir_horario_aulas('Programação')
exibir_horario_aulas('Modelagem de Software',15)

In [ ]:
def exibir_produto(nome, preco):
  print(f'{nome} : R${preco}')

exibir_produto('doce de leite', 5.50)
exibir_produto(65, 'Bermuda')

exibir_produto(preco=100, nome='Camiseta')

In [ ]:
def exibir_jogo(*,nome_jogo, ano_lancamento):
  print(f'{nome_jogo}, lançado em {ano_lancamento}')

def exibir_produto(nome,*,preco):
  print(f'{nome} : R${preco}')

exibir_jogo(nome_jogo='Mario',ano_lancamento=1985)
exibir_produto('Alicante', preco=20)

tarefa

In [19]:
def gerar_personagem_game(nome, altura,*, forca, arma):
  print(f'seu nome é {nome},sua altura é {altura},sua força é {forca},sua arma é {arma}')

gerar_personagem_game("Goku", 1.75,forca="+ de 8K",arma="Bastão do poder")

seu nome é Goku,sua altura é 1.75,sua força é + de 8K,sua arma é Bastão do poder

ARGS

In [20]:
def somanotas(*args):
  return sum(args)

print(somanotas(7, 8, 3, 10, 5.5, 2, 8.5))

44.0

In [22]:
def somar_nums(*valores, a):
  print(valores)
  for valor in valores:
    a+=valor
  print(a)

somar_nums(5, 5, a = 10)

(5, 5)
20

Keargs

In [ ]:
def concatenar(**palavras):
  frase = ' '
  for palavra in palavras.values():
    frase += palavra
  print(frase)

concatenar(a='eu ',  b='é ',  c='Hequer ')

In [33]:
#exemplo

def calcula(nome, *args, **kwargs):
  print(nome)
  print(args)
  print(kwargs)
  for arg in args:
    print(arg)
  for kwarg in kwargs.values():
    print(kwarg)

calcula('José',5,6,72,1,a=4,b=6,c=8)

José
(5, 6, 72, 1)
{'a': 4, 'b': 6, 'c': 8}
5
6
72
1
4
6
8

atividade

In [30]:
#q1
def somar_valores(*args):
  return sum(args)

print(somar_valores(5,6))

11

In [ ]:
#q2
def exibir_perfil(nome, *args, **kwargs):
  print(nome)
  print(args)
  print(kwargs)
  for arg in args:
    print(arg)
  for kwarg in kwargs.values():
    print(kwarg)

exibir_perfil('Kevin ',args='meus hobbies são dormir e joga ', a='João pessoa', b=18)

In [44]:
def multiplica_todos(*args):
    resultado = 1
    for numero in args:
        resultado *= numero
    return resultado


print(multiplica_todos(5, 3))
print(multiplica_todos(2, 4, 6))

15
48

In [ ]:
from datetime import date, datetime
data_atual = date.today()
datahora_atual = datetime.now()
print(data_atual)
print(datahora_atual)

In [45]:
data_formatada = data_atual.strftime("%d/%m/%Y")
data_completa = datahora_atual.strftime("%d/%m/%Y %H:%M:%S")
print(data_formatada)
print(data_completa)

13/05/2025
13/05/2025 13:57:17